Flask==3.0.3
ibm_cloud_sdk_core==3.10.1
ibm_watsonx_ai==1.1.2
numpy==1.26.4
pandas==2.1.4
python-dotenv==1.0.1
ibm_watson_openscale==3.0.14
requests==2.32.2
langchain==0.0.340
elasticsearch==8.15.1
sentence_transformers
PyPDF2==3.0.1